<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heshan.androidcore">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCore">
        <activity
            android:name="com.core.widget.CoffeeLoggerWidgetConfigureActivity"
            android:exported="false" />

        <service
            android:name="com.core.widget.CoffeeQuotesService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.core.widget.CoffeeLoggerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coffee_logger_widget_info" />
        </receiver>

        <activity
            android:name="com.core.animation_transitions.interpolator.InterpolatorMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCore.NoActionBar">
        </activity>

        <activity android:name="com.core.animation_transitions.activity_scene.DetailActivity" />

        <activity
            android:name="com.core.animation_transitions.motion.MotionMainActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.dissolve.DissolveActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/dissolve_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/dissolve_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/dissolve_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.fadethrough.FadeThroughActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/fade_through_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/fade_through_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/fade_through_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.fabtransformation.FabTransformationActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/fab_transformation_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/fab_transformation_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/fab_transformation_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.reorder.ReorderActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/reorder_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/reorder_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/reorder_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.stagger.StaggerActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/stagger_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/stagger_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/stagger_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.loading.LoadingActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/loading_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/loading_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/loading_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.oscillation.OscillationActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/oscillation_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/oscillation_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/oscillation_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.sharedelement.SharedElementActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/shared_element_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/shared_element_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/shared_element_apis" />
        </activity>

        <activity
            android:name="com.core.animation_transitions.motion.demo.containertransform.ContainerTransformActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCore.NoActionBar"
            android:label="@string/container_transform_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.example.android.motion.intent.category.DEMO" />
            </intent-filter>

            <meta-data
                android:name="com.example.android.motion.demo.DESCRIPTION"
                android:value="@string/container_transform_description" />
            <meta-data
                android:name="com.example.android.motion.demo.APIS"
                android:resource="@array/container_transform_apis" />
        </activity>
    </application>

</manifest>