<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heshan.androidcore">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCore">
        <activity
            android:name="com.core.widget.CoffeeLoggerWidgetConfigureActivity"
            android:exported="false" />

        <service
            android:name="com.core.widget.CoffeeQuotesService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name="com.core.widget.CoffeeLoggerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/coffee_logger_widget_info" />
        </receiver>

        <activity
            android:name="com.core.animation_transitions.interpolator.InterpolatorMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidCore.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.core.animation_transitions.activity_scene.DetailActivity" />
    </application>

</manifest>